
.icon-spin:before { content: '\e800'; } /* '' */
.icon-spin2:before { content: '\e801'; } /* '' */
.icon-spin4:before { content: '\e802'; } /* '' */
.icon-spin3-1:before { content: '\e803'; } /* '' */
.icon-spin1:before { content: '\e804'; } /* '' */
.icon-spin3:before { content: '\e805'; } /* '' */
.icon-marquee:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-burger-1:before { content: '\e808'; } /* '' */
.icon-download:before { content: '\e809'; } /* '' */
.icon-upload-2:before { content: '\e80a'; } /* '' */
.icon-cancel-1:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-attention-1:before { content: '\e80d'; } /* '' */
.icon-warning:before { content: '\e80e'; } /* '' */
.icon-warning-1:before { content: '\e80f'; } /* '' */
.icon-attention:before { content: '\e810'; } /* '' */
.icon-upload:before { content: '\e811'; } /* '' */
.icon-download-outline:before { content: '\e812'; } /* '' */
.icon-download-1:before { content: '\e813'; } /* '' */
.icon-upload-1:before { content: '\e814'; } /* '' */
.icon-wrench:before { content: '\e815'; } /* '' */
.icon-wrench-1:before { content: '\e816'; } /* '' */
.icon-flow-split:before { content: '\e817'; } /* '' */
.icon-flow-merge:before { content: '\e818'; } /* '' */
.icon-flow-parallel:before { content: '\e819'; } /* '' */
.icon-flow-cross:before { content: '\e81a'; } /* '' */
.icon-cog-alt:before { content: '\e81b'; } /* '' */
.icon-globe:before { content: '\e81c'; } /* '' */
.icon-home:before { content: '\e81d'; } /* '' */
.icon-link:before { content: '\e81e'; } /* '' */
.icon-unlink:before { content: '\e81f'; } /* '' */
.icon-database:before { content: '\e820'; } /* '' */
.icon-database-1:before { content: '\e821'; } /* '' */
.icon-database-2:before { content: '\e822'; } /* '' */
.icon-database-3:before { content: '\e823'; } /* '' */
.icon-gauge:before { content: '\e824'; } /* '' */
.icon-gauge-1:before { content: '\e825'; } /* '' */
.icon-burger:before { content: '\e826'; } /* '' */
.icon-plug-1:before { content: '\e827'; } /* '' */
.icon-plug:before { content: '\e828'; } /* '' */
.icon-plus:before { content: '\e829'; } /* '' */
.icon-minus:before { content: '\e82a'; } /* '' */
.icon-cancel-2:before { content: '\e82b'; } /* '' */
.icon-cancel-squared:before { content: '\e82c'; } /* '' */
.icon-trash:before { content: '\e82d'; } /* '' */
.icon-cogs:before { content: '\e82e'; } /* '' */
.icon-cog:before { content: '\e82f'; } /* '' */
.icon-params:before { content: '\e830'; } /* '' */
.icon-show:before { content: '\e831'; } /* '' */
.icon-hide:before { content: '\e832'; } /* '' */